[Unit]
Description=server_app.js - Log all you servers' outputs centrally!
Documentation=http://localhost
After=network.target

[Service]
Type=simple
User=testuser
ExecStart=/usr/bin/node /home/testuser/My_work/audiocc/server_app.js
Restart=on-failure

[Install]
WantedBy=multi-user.target